.mask {
    .transition(opacity 0.2s linear);
    z-index: 9000;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .75);
    &.mask-inactive {
        opacity: 0;
        &.mask-hidden {
            z-index: -100;
        }
    }
}

.shop-gallery {
    //.transition(left 0.2s linear);
    transition-property: width, height, transform, opacity;
    position: fixed;
    z-index: 9001;
    &.inactive {
        opacity: 1;
    }
    .shop-gallery-skin {
        .box-shadow(0 0 10px 2px rgba(0, 0, 0, 0.3));
        background-color: #fff;
        position: relative;
        padding-bottom: 2em;
        .shop-gallery-inner {
            position: relative;
            margin: 0 2em;
            .shop-gallery-img-container {
                margin: 0 auto;
                padding: 0 3em;
                text-align: center;
                .shop-gallery-img {
                    .transition(all 0.2s linear);
                    max-width: 100%;
                    max-height: 100%;
                    &.inactive {
                        opacity: 0;
                    }
                }
            }
            .shop-gallery-nav {
                position: absolute;
                top: 0;
                bottom: 0;
                width: 50%;
                cursor: pointer;
                &:hover {
                    &::after {
                        color: @maincolor;
                    }
                }
                &.shop-gallery-nav-prev {
                    &::after {
                        -moz-transform: rotate(-45deg);
                        -webkit-transform: rotate(-45deg);
                        -o-transform: rotate(-45deg);
                        -ms-transform: rotate(-45deg);
                        transform: rotate(-45deg);
                        border-left: 3px solid;
                        border-top: 3px solid;
                        content: "";
                        height: 15px;
                        position: absolute;
                        left: 0;
                        top: 50%;
                        width: 15px;
                        margin-top: -8px;
                    }
                }
                &.shop-gallery-nav-next {
                    left: 50%;
                    &::after {
                        -moz-transform: rotate(135deg);
                        -webkit-transform: rotate(135deg);
                        -o-transform: rotate(135deg);
                        -ms-transform: rotate(135deg);
                        transform: rotate(135deg);
                        border-left: 3px solid;
                        border-top: 3px solid;
                        content: "";
                        height: 15px;
                        position: absolute;
                        right: 0;
                        top: 50%;
                        width: 15px;
                        margin-top: -8px;
                    }
                }
            }
        }
        .shop-gallery-title {
            display: none;
        }
    }
    .shop-gallery-close {
        position: absolute;
        right: 0;
        top: 0;
        background-color: #000;
        padding: 0.4em 0.7em 0.5em 0.7em;
        color: #fff;
        cursor: pointer;
        &::after {
            content: "x";
            font-size: 17px;
            font-weight: bold;
            margin-left: 5px;
            text-transform: lowercase;
        }
    }
    .shop-gallery-resize {
        padding: 0.45em 0.65em 0.45em 0.75em;
        top: 0;
        position: absolute;
        cursor: pointer;
        background-color: #000;
        color: #fff;
        left: 0;
        &::before {
            display: inline-block;
            font-family: 'FontAwesome';
            font-style: normal;
            font-weight: normal;
            font-size: 13px;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
        &.expand {
            &::before {
                content: "\f065";
            }
        }
        &.collapse {
            &::before {
                content: "\f066"
            }
        }
    }
    .shop-gallery-preview {
        overflow: hidden;
        min-width: 300px;
        max-width: 500px;
        margin: 1em auto 0;
        height: 83px;
        background-color: #fff;
        padding: 1.5em 3em;
        position: relative;
        .shop-gallery-container {
            overflow: hidden;
            padding-bottom: 1px;
            padding-top: 1px;
            position: relative;
            .shop-gallery-slider {
                .transition(left 0.4s linear);
                position: relative;
                left: 0;
            }
        }
        .shop-gallery-item-preview {
            width: 70px;
            height: 70px;
            display: inline-block;
            vertical-align: top;
            border: 1px solid;
            padding: 5px;
            margin-right: 7px;
            cursor: pointer;
            &:hover,
            &.active {
                border-color: @maincolor;
            }
            img {
                max-width: 100%;
                max-height: 100%;
            }
        }
        .shop-gallery-mini-prev {
            position: absolute;
            left: 0;
            bottom: 0;
            top: 0;
            width: 39px;
            cursor: pointer;
            &:hover {
                &::after {
                    color: @maincolor;
                }
            }
            &::after {
                -moz-transform: rotate(-45deg);
                -webkit-transform: rotate(-45deg);
                -o-transform: rotate(-45deg);
                -ms-transform: rotate(-45deg);
                transform: rotate(-45deg);
                content: '';
                border-left: 1px solid;
                border-top: 1px solid;
                height: 10px;
                width: 10px;
                display: block;
                position: absolute;
                top: 54px;
                left: 17px;
            }
        }
        .shop-gallery-mini-next {
            position: absolute;
            right: 0;
            bottom: 0;
            top: 0;
            width: 39px;
            cursor: pointer;
            &:hover {
                &::after {
                    color: @maincolor;
                }
            }
            &::after {
                -moz-transform: rotate(135deg);
                -webkit-transform: rotate(135deg);
                -o-transform: rotate(135deg);
                -ms-transform: rotate(135deg);
                transform: rotate(135deg);
                content: '';
                border-left: 1px solid;
                border-top: 1px solid;
                height: 10px;
                width: 10px;
                display: block;
                position: absolute;
                top: 54px;
                right: 17px;
            }
        }
    }
}

.shop-gallery-loader {
    .border-radius(5px);
    width: 45px;
    height: 45px;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 9999;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -22.5px;
    margin-top: -22.5px;
    &::after {
        .transition(all 0.4s linear);
        display: inline-block;
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        -webkit-animation: spin 2s infinite linear;
        -moz-animation: spin 2s infinite linear;
        -o-animation: spin 2s infinite linear;
        animation: spin 2s infinite linear;
        content: "\f013";
        position: absolute;
        left: 11px;
        top: 9px;
        z-index: 99999 !important;
        font-size: 2em;
        color: #fff;
    }
}

.fullscreen {
    .shop-gallery {
        top: 0 !important;
        bottom: 0 !important;
        left: 0 !important;
        width: 100% !important;
        background-color: #fff;
        .shop-gallery-close {
            right: 0;
            top: 0;
        }
        .shop-gallery-preview {
            margin: 0 auto;
        }
        .shop-gallery-skin {
            .box-shadow(none);
            padding-bottom: 8em;
        }
        .shop-gallery-inner {
            padding-top: 5em;
        }
    }
}